header {
    width: 100%;
    min-height: 100px;
    grid-area: head;
    font-family: "Open Sans";
    text-align: left;
    background-color: blue;
    color: black;
    margin-top: -2.1vw;
    margin-left: -2vw;
    padding-right: 5vw;
}

header p {
    font-family: "Open Sans";
    font-size: 2em;
    letter-spacing: 0.2em;
    margin-left: 3vw;
    margin-top: 3vw;
    display: inline-block;
    text-decoration: none;
}

header a:visited {
    color: black;
}

footer {
    width: 100%;
    min-height: 50px;
    grid-area: foot;
    font-family: "Open Sans";
    text-align: right;
    background-color: white;
    font-size: 0.6em;
    position: relative;
    bottom: 0;
    padding: 1vw;
    margin-bottom: -1vh;
    margin-left: -0.5vw;
}

footer p {
    margin-right: 2vw;
}

body {
    background-image: url(../Billeder/baggrundsbilledetest.webp);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}


@media screen and (max-width: 8012px) {
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 6fr 1fr;
    grid-template-areas:
        "head head"
        "img img"
        "foot foot"
}

#hoverbilleder {
    grid-area: img;
    display: grid;
    max-width: 812px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
        "bjorn ikon"
        "creative Illu"
        "sffb ovel";
    margin: 0 auto;
    margin-top: 2vw;
    margin-bottom: 2vw;
    opacity: 91%;
}

.billede {
    border-style: solid;
    border-color: black;
    border-width: 0.2vw;
    transition: transform .2s ease;
    max-height: 97%;
    max-width: 97%;
}

#bjorn {
    grid-area: bjorn;
}

#ikon {
    grid: ikon;
}

#creative {
    grid: creative;
}

#illu {
    grid: illu;
}

#sffb {
    grid: sffb;
}

#ovelse {
    grid: ovel;
}

.billede:hover {
    transform: scale(1.1);
    border-style: solid;
    border-bottom-color: black;
}




