
body {
    background-color: #f8f8f8;
}

header {
    width: 100%;
    height: 120px;
    grid-area: head;
    font-family: "Open Sans";
    text-align: left;
    background-color: #fff;
    color: black;
    margin-top: -2.1vw;
    margin-left: -2vw;
    padding-right: 5vw;
    box-shadow: 5px 5px 8px lightgrey;
    position: absolute;
}

header p {
    font-family: "Open Sans";
    font-size: 2em;
    letter-spacing: 0.2em;
    margin-left: 3vw;
    margin-top: 3vw;
    display: inline-block;
    text-decoration: none;
}

header a:default {
    color: black;
}

header a:visited {
    color: black;
}

header p:hover {
    transition: transform .4s ease;
    transform: scale(1.03);
}

footer {
    width: 100%;
    height: 50px;
    grid-area: foot;
    font-family: "Open Sans";
    text-align: center;
    font-size: 0.7em;
    position: relative;
    bottom: 0;
}

footer p {
    margin-right: 2vw;
}

#fp2 {
    margin-top: -1em;
}

@media screen and (min-width: 0px) {
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        "head head head head"
        "ind ind ind ind"
        "foot foot foot foot";
}
    
    #indhold {
        min-width: 600px;
        max-width: 1100px;
        margin: auto;
        grid-area: ind;
        font-family: "Amiri";
        padding-top: 3em;
        background-color: white;
        box-shadow: 5px 5px 8px lightgrey;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1.7fr 1.5fr 2.3fr 0.7fr 2fr 1fr 1fr 1fr 1fr 1fr 0.3fr 2fr 2fr 1.5fr 2.5fr 1.5fr 1fr 2.5fr 1fr 1fr;
        grid-template-areas: 
            "h1 . . logo"
            "css1 css1 css1 css1"
            "css2 css2 b1 b1"
            "css3 css3 b2 b2"
            "css4 css4 css4 css4"
            ". b3 b3 ."
            "css5 css5 css5 css5"
            ". b4 b4 ."
            "css6 css6 css6 css6"
            ". b5 b5 ."
            "css7 css7 css7 css7"
            ". b6 b6 ."
            "css8 css8 css8 css8"
            ". b7 b7 ."
            "css9 css9 css9 css9"
            ". b8 b8 ."
            "css10 css10 css10 css10"
            "h2 h2 h2 h2"
            "res1 res1 res1 res1"
            ". b9 b9 ."
            "res2 res2 res2 res2"
            "fod fod fod fod"
            ;
    }
    
    h1{
        grid-area: h1;
        font-size: 3em;
        margin: 10vh 3vw 0 3.6vw;
    }
    
    h2{
        grid-area: h2; 
        font-size: 3em;
        margin: 10vh 3vw 0 3.6vw;
    }
    
    .indholdp {
        font-size: 1.5em;
        margin: 0 3em 3em; 3em;
    }
    
    #fodnoter {
        grid-area: fod;
        margin: 0 3em 0 3em;
        position: relative;
    }
    
    #css1 {
        grid-area: css1;
        margin-bottom: 2em;
    }
    
    #css2 {
        grid-area: css2;
    }
    
    #css3 {
        grid-area: css3;
    }
    
    #css4 {
        margin-top: 2em;
        grid-area: css4;
    }
    
    #css5 {
        grid-area: css5;
    }
    
    #css6 {
        grid-area: css6;
    }
    
    #css7 {
        grid-area: css7;
    }
    
    #css8 {
        grid-area: css8;
    }
    
    #css9 {
        grid-area: css9;
    }
    
    #css10 {
        grid-area: css10;
    }
    
    #res1 {
        grid-area: res1;
    }
    
    #res2 {
        grid-area: res2;
    }
    
    #logo {
        max-height: 50%;
        grid-area: logo;
        margin: 5vh 3vw 0 3vw;
    }

    
    #billede1 {
        grid-area: b1;
    }
    
    #billede2 {
        grid-area: b2;
        max-height: 80%;
    }
    
    #billede3 {
        text-align: center;
        grid-area: b3;
    }

    #billede4 {
        margin-top: -8em;
        text-align: center;
        grid-area: b4;
        width: 100%;
    }
    
    #billede5 {
        text-align: center;
        grid-area: b5;
    }
    
    #billede6 {
        text-align: center;
        grid-area: b6;
        margin-top: -12em;
        margin-bottom: 2em;
    }
    
    #billede7 {
        text-align: center;
        grid-area: b7;
        margin-top: -5em;
    }
    
    #billede8 {
        text-align: center;
        grid-area: b8;
    }
    
    #billede9 {
        margin-top: 6em;
        text-align: center;
        grid-area: b9;
    }
    
    .bil:hover {
        transition: transform .4s ease;
        transform: scale(1.4);
        box-shadow: 10px 20px 20px darkgrey;
    }
    
    blockquote {
        margin-top: -1em;
        text-align: center;
    }
    
    #psurl {
        text-decoration: underline;
        color: blue;
    }